*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(65, 65, 65);
}
/* HEADER */
header div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
header div >nav ul{
    display: flex;
    list-style: none;
}
header div nav ul li{
    padding: 5px;
    text-align: center;
    margin: 5px 5px;
    background-color: rgba(32, 32, 32);
    transition: all 0.3s;
}
header nav a:link, header a:visited{
    text-decoration: none;
    color:white;
}
header li:hover, header nav a:hover{
    cursor: pointer;
    color: darkgoldenrod;
    background-color: rgb(30, 30, 30);
}
header li:active{
    border-bottom: 1px solid darkgoldenrod;
    transform: translateY(2px);
}

/* MAIN */
section{
    margin: auto;
    background-color: white;
    margin-top: 5px;
}
section figcaption{
    text-align: center;
    color: darkgoldenrod;
    margin-bottom: 10px;
}
.começo div{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.começo figcaption{
    font-size: 20px;
    margin-bottom: 5px;
}
.começo p{
    text-align: justify;
    line-height: 20px;
}

.idolos>div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.idolos figcaption{
    color:black;
    padding-top: 20px;
}
.idolos h1 {
    font-size: 30px;
    color: darkgoldenrod;
}
.idolos p{
    text-align: justify;
}
@media screen and (min-width:767px) {
    /* HEADER */
    header div{
        flex-direction: row;
        justify-content: space-between;
    }
    header div nav ul li{
        padding: 25px;
    }
    header nav a{
        font-size: 18px;
    }
    section{
        width: 1200px;
    }
    .começo>div{
        flex-direction: row;
    }
    .começo div{
        display: flex;
        text-align: justify;
        align-items: center;
        justify-content: center;
    }
    .idolos >div>div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: 2px solid darkgoldenrod;
    }
    .reverso{
        flex-direction: row-reverse;
    }
    .idolos >div>div p{
        padding: 15px;
    }
}